In [1]:
import pandas as pd

# Introduction

In this lab we want you to learn and investigate some concepts in the context of Pandas: **concatenating**, **joining**, and **merging**. We want to review these concepts because it will make the subsequent work in transforming the datasets a lot more efficient.

# Concatenating, Joining, & Merging Tutorial


## Concatenating

Concatenating two dataframes combines two dataframes so that we append the rows of one dataframe at the end of the other. Our column names have to be identical for this function to work properly.

Below is an example of the `concat()` function in pandas

https://pandas.pydata.org/docs/reference/api/pandas.concat.html

In [5]:
df1 = pd.DataFrame({'A': ['a'+str(x) for x in range(3)],
                    'B': ['b'+str(x) for x in range(3)],
                    'C': ['c'+str(x) for x in range(3)]},
                     index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['a'+str(x) for x in range(3, 6)],
                    'B': ['b'+str(x) for x in range(3, 6)],
                    'C': ['c'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5]) 

df3 = pd.DataFrame({'D': ['d'+str(x) for x in range(3)],
                    'E': ['e'+str(x) for x in range(3)],
                    'F': ['f'+str(x) for x in range(3)]},
                     index=[0, 1, 2]) 

df4 = pd.DataFrame({'D': ['d'+str(x) for x in range(3, 6)],
                    'E': ['e'+str(x) for x in range(3, 6)],
                    'F': ['f'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5]) 

print(df1, '\n---\n', df2, '\n---\n', df3, '\n---\n',df4)

    A   B   C
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
---
     A   B   C
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5
---
     D   E   F
0  d0  e0  f0
1  d1  e1  f1
2  d2  e2  f2
---
     D   E   F
3  d3  e3  f3
4  d4  e4  f4
5  d5  e5  f5

Let's try concatenating `df1` and `df2`, as well as `df3` and `df4`.

In [ ]:
# your code here
data_concat1 = pd.concat([df1, df2], axis=0,sort=False)
data_concat2 = pd.concat([df3, df4], axis=0,sort=False)
print(data_concat1)
print(data_concat2)

    A   B   C
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5
    D   E   F
0  d0  e0  f0
1  d1  e1  f1
2  d2  e2  f2
3  d3  e3  f3
4  d4  e4  f4
5  d5  e5  f5
Index([0, 1, 2, 3, 4, 5], dtype='int64')
Index([0, 1, 2, 3, 4, 5], dtype='int64')

From the output above, you see the second dataframe is appended at the bottom of the first dataframe.

Now let's try concatenating `df1`, `df2`, `df3`, and `df4` all together.

Note that the `sort=False` param is supplied to silence a warning message on a future Pandas change. It does not make any difference on the output.

In [65]:
# your code here trying both axis[0] and axis[1]
data_concat3 = pd.concat([df1, df2, df3, df4] , axis=0 , sort=False)
data_concat4 = pd.concat([df1, df2, df3, df4] , axis=0 , sort=False)
print(data_concat3)
print(data_concat4)

     A    B    C    D    E    F
0   a0   b0   c0  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN
2   a2   b2   c2  NaN  NaN  NaN
3   a3   b3   c3  NaN  NaN  NaN
4   a4   b4   c4  NaN  NaN  NaN
5   a5   b5   c5  NaN  NaN  NaN
0  NaN  NaN  NaN   d0   e0   f0
1  NaN  NaN  NaN   d1   e1   f1
2  NaN  NaN  NaN   d2   e2   f2
3  NaN  NaN  NaN   d3   e3   f3
4  NaN  NaN  NaN   d4   e4   f4
5  NaN  NaN  NaN   d5   e5   f5
     A    B    C    D    E    F
0   a0   b0   c0  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN
2   a2   b2   c2  NaN  NaN  NaN
3   a3   b3   c3  NaN  NaN  NaN
4   a4   b4   c4  NaN  NaN  NaN
5   a5   b5   c5  NaN  NaN  NaN
0  NaN  NaN  NaN   d0   e0   f0
1  NaN  NaN  NaN   d1   e1   f1
2  NaN  NaN  NaN   d2   e2   f2
3  NaN  NaN  NaN   d3   e3   f3
4  NaN  NaN  NaN   d4   e4   f4
5  NaN  NaN  NaN   d5   e5   f5

What do we find?

* Pandas' `concat` method respects indexes of all axes. 
    * Because `df3` and `df4` have different column indexes than `df1` and `df2`, `concat` put them into different columns. 
    * `df3` and `df4` also retain their original row indexes of 0-5 instead of continuing from the last index of `df2`. 
* `concat` creates `NaN` at places where values are missing.

Try also supplying `ignore_index=True` to `concat`. How is the output different?

In [17]:
# your code here
pd.concat([df1, df2, df3, df4] , axis=1 , sort=False, ignore_index=True)
#notice that the index is not the same as the original dataframes. 
#it is not numbers but in original it is A,B,C,D,E,F for axis 1. 
#it is continuous numbers for axis 0 but in original it resets.

    0    1    2    3    4    5    6    7    8    9    10   11
0   a0   b0   c0  NaN  NaN  NaN   d0   e0   f0  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN   d1   e1   f1  NaN  NaN  NaN
2   a2   b2   c2  NaN  NaN  NaN   d2   e2   f2  NaN  NaN  NaN
3  NaN  NaN  NaN   a3   b3   c3  NaN  NaN  NaN   d3   e3   f3
4  NaN  NaN  NaN   a4   b4   c4  NaN  NaN  NaN   d4   e4   f4
5  NaN  NaN  NaN   a5   b5   c5  NaN  NaN  NaN   d5   e5   f5

## Merging and Joining

Pandas has two functions for joining datasets: `merge()` and `join()`. They perform the same task but have different options and syntax. 

Below is an example of `merge` and `join`.     
HINT (uses the column that repeats in both dataframes )

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [18]:
left = pd.DataFrame({'idx': ['i'+str(x) for x in range(3)],
                     'A': ['a'+str(x) for x in range(3)],
                     'B': ['b'+str(x) for x in range(3)]})


right = pd.DataFrame({'idx': ['i'+str(x) for x in range(1,4)],
                     'C': ['c'+str(x) for x in range(1,4)],
                     'D': ['d'+str(x) for x in range(1,4)]})

In [19]:
left

  idx   A   B
0  i0  a0  b0
1  i1  a1  b1
2  i2  a2  b2

In [20]:
right

  idx   C   D
0  i1  c1  d1
1  i2  c2  d2
2  i3  c3  d3

`join` is identical to `merge`. But when using join, we need to explicitly set the index column of the dataframes to join using `set_index`:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

In [ ]:
# your code here
# Set the index for both dataframes
left_indexed = left.set_index('idx')
right_indexed = right.set_index('idx')

# Perform the join
joined_df = left_indexed.join(right_indexed, how='inner')  # You can use 'inner', 'outer', 'left', or 'right'
print(joined_df)

      A   B   C   D
idx
i1   a1  b1  c1  d1
i2   a2  b2  c2  d2

In [23]:
"""The `joined_df` is a result of performing an **inner join** between `left_indexed` and `right_indexed` dataframes using their indexes (`idx`). Here's how it resulted in a 2x4 matrix:

1. **Inner Join**:
    - An inner join keeps only the rows where the indexes match in both dataframes.
    - In `left_indexed`, the indexes are `i0`, `i1`, and `i2`.
    - In `right_indexed`, the indexes are `i1`, `i2`, and `i3`.
    - The common indexes between the two dataframes are `i1` and `i2`.

2. **Columns**:
    - The resulting dataframe includes all columns from both dataframes.
    - `left_indexed` has columns `A` and `B`.
    - `right_indexed` has columns `C` and `D`.
    - The resulting dataframe has 4 columns: `A`, `B`, `C`, and `D`.

3. **Rows**:
    - Since only the common indexes `i1` and `i2` are retained, the resulting dataframe has 2 rows.

Thus, the resulting `joined_df` is a 2x4 matrix with 2 rows (for `i1` and `i2`) and 4 columns (`A`, `B`, `C`, `D`)."""

"The `joined_df` is a result of performing an **inner join** between `left_indexed` and `right_indexed` dataframes using their indexes (`idx`). Here's how it resulted in a 2x4 matrix:\n\n1. **Inner Join**:\n    - An inner join keeps only the rows where the indexes match in both dataframes.\n    - In `left_indexed`, the indexes are `i0`, `i1`, and `i2`.\n    - In `right_indexed`, the indexes are `i1`, `i2`, and `i3`.\n    - The common indexes between the two dataframes are `i1` and `i2`.\n\n2. **Columns**:\n    - The resulting dataframe includes all columns from both dataframes.\n    - `left_indexed` has columns `A` and `B`.\n    - `right_indexed` has columns `C` and `D`.\n    - The resulting dataframe has 4 columns: `A`, `B`, `C`, and `D`.\n\n3. **Rows**:\n    - Since only the common indexes `i1` and `i2` are retained, the resulting dataframe has 2 rows.\n\nThus, the resulting `joined_df` is a 2x4 matrix with 2 rows (for `i1` and `i2`) and 4 columns (`A`, `B`, `C`, `D`)."

And you see, `join` disregards the row of `right` with the unmatching index `i3`. It retains the row of `left` with the unmatching index `i0` but uses `NaN` for the missing data after joining.

#### There are other options we can explore with the `merge()` and `join()` functions. 

Specifically, we can specify `how`. This argument in the function tells us whether we are performing an inner, left, right, or outer join.

We can also specify a different column for joining in the `merge()` function using the `left_on` and `right_on` arguments. Check out the following documentations if you want to explore more:

[pandas.DataFrame.merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)

[pandas.DataFrame.join](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html)

## Bonus Question

Now if you look back on `merge` and `join`, you realize that in order to perform these functions on a set of dataframes, these dataframes must share a common column as the index. Only rows that have the same index values will be joined. This is similar to the [`join` function in MySQL](https://www.w3schools.com/sql/sql_join.asp), isn't it?

The bonus question for you is to figure out how to join and concatenate `df1`, `df2`, `df3`, and `df4` we created at the beginning of this challenge. Your end product should look like this:

![df1-2-3-4.png](../images/df1-2-3-4.png)

In [36]:
import pandas as pd
import numpy as np
from IPython.display import display

In [64]:

print(data_concat1.join(data_concat2))

    A   B   C   D   E   F
0  a0  b0  c0  d0  e0  f0
1  a1  b1  c1  d1  e1  f1
2  a2  b2  c2  d2  e2  f2
3  a3  b3  c3  d3  e3  f3
4  a4  b4  c4  d4  e4  f4
5  a5  b5  c5  d5  e5  f5